# Ignore everything by default
*

# Allow all directories (needed to reach files)
!*/

# Keep dockge, stacks, and README
!dockge/
!stacks/
!README.md

# Keep the gitignore itself
!.gitignore

# Allow .env and compose.yml anywhere
!**/.env.example
!**/compose.yml

# Ignore Tailscale state directory contents
stacks/tailscale/tailscale/state/
