name: media-stack
services:
  gluetun:
    image: qmcgaw/gluetun:latest
    container_name: gluetun
    environment:
      - VPN_SERVICE_PROVIDER=mullvad
      - VPN_TYPE=wireguard
      - WIREGUARD_PRIVATE_KEY=${WIREGUARD_PRIVATE_KEY}
      - WIREGUARD_ADDRESSES=${WIREGUARD_ADDRESSES}
      - SERVER_COUNTRIES=Belgium,Netherlands,Germany
      - HTTP_CONTROL_SERVER_AUTH_DEFAULT_ROLE='{"auth":"none"}'
      - TZ=Europe/Brussels
    cap_add:
      - NET_ADMIN
    ports:
      # These ports are published by the gluetun container
      - "8080:8080"    # qBittorrent Web UI (set to match qbittorrent WEBUI_PORT)
      - "6881:6881"    # example incoming TCP port (torrent traffic) - optional
      - "6881:6881/udp" # incoming UDP (DHT / uTP)
      - "8000:8000"    # Gluetun HTTP control server for status/API
    volumes:
      - ./gluetun/config:/gluetun
    restart: unless-stopped

  qbittorrent:
    image: linuxserver/qbittorrent:latest
    container_name: qbittorrent
    environment:
      - PUID=1000
      - PGID=1000
      - WEBUI_PORT=8080
      # - QBT_WEBUI_USERNAME=admin
      # - QBT_WEBUI_PASSWORD=admin
      - TZ=Europe/Brussels
    network_mode: "service:gluetun"
    depends_on:
      gluetun:
        condition: service_healthy
      
    volumes:
      - ./qbittorrent/config:/config
      - ./media/downloads:/downloads
      - ./media:/media
      - ./media/nba:/nba
    restart: unless-stopped

  radarr:
    image: linuxserver/radarr:latest
    container_name: radarr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Brussels
    volumes:
      - ./radarr/config:/config
      - ./media/downloads:/downloads
      - ./media/movies:/movies
    ports:
      - "7878:7878"
    restart: unless-stopped

  sonarr:
    image: linuxserver/sonarr:latest
    container_name: sonarr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Brussels
    volumes:
      - ./sonarr/config:/config
      - ./media/downloads:/downloads
      - ./media/tv:/tv
    ports:
      - "8989:8989"
    restart: unless-stopped

  prowlarr:
    image: linuxserver/prowlarr:latest
    container_name: prowlarr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Brussels
    volumes:
      - ./prowlarr/config:/config
    ports:
      - "9696:9696"
    restart: unless-stopped

  flaresolverr:
    image: ghcr.io/flaresolverr/flaresolverr:latest
    container_name: flaresolverr
    environment:
      - LOG_LEVEL=info
      - LOG_HTML=false
      - CAPTCHA_SOLVER=none
      - TZ=Europe/Brussels
    ports:
      - "8191:8191"
    restart: unless-stopped

  bazarr:
    image: lscr.io/linuxserver/bazarr:latest
    container_name: bazarr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Brussels
    volumes:
      - ./bazarr/config:/config
      - ./media/movies:/movies
      - ./media/tv:/tv
    ports:
      - 6767:6767
    restart: unless-stopped

  jellyfin:
    image: linuxserver/jellyfin:latest
    container_name: jellyfin
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Brussels
    volumes:
      - ./jellyfin/config:/config
      - ./media:/media
    devices:
      - /dev/dri:/dev/dri
    ports:
      - "8096:8096"
    restart: unless-stopped

  plex:
    image: lscr.io/linuxserver/plex:latest
    container_name: plex
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Brussels
      - PLEX_CLAIM=claim-n2Dpd2wETH7fLL8XvRKF
    volumes:
      - ./plex/config:/config
      - ./media:/media
    ports:
      - "32400:32400"
    restart: unless-stopped

  calibre-web-automated:
    image: crocodilestick/calibre-web-automated:latest
    container_name: calibre-web-automated
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Brussels
      # Hardcover API Key required for Hardcover as a Metadata Provider, get one here: https://docs.hardcover.app/api/getting-started/
      - HARDCOVER_TOKEN=${HARDCOVER_TOKEN}
      - NETWORK_SHARE_MODE=false
      - CWA_PORT_OVERRIDE=8083
    volumes:
      - ./calibre-web-automated/config:/config
      - ./media/books/ingest:/cwa-book-ingest
      - ./media/books:/calibre-library
      - ./calibre-web-automated/plugins:/config/.config/calibre/plugins
    ports:
      - 8083:8083
    restart: unless-stopped