name: monitor-stack
services:
  glance:
    image: glanceapp/glance
    container_name: glance
    environment:
      - GLUETUN_URL=
    volumes:
      - ./glance/config:/app/config
      - ./glance/assets:/app/assets
      - /etc/localtime:/etc/localtime:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
    ports:
      - 8181:8080
    restart: unless-stopped