name: monitor-stack
services:
  glance:
    image: glanceapp/glance
    container_name: glance
    volumes:
      - ./glance/config:/app/config
      - ./glance/assets:/app/assets
      - /etc/localtime:/etc/localtime:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - /JaanNAS:/JaanNAS:ro
    ports:
      - 80:8080
    restart: unless-stopped

  uptime-kuma:
    image: louislam/uptime-kuma:2
    container_name: uptime-kuma
    volumes:
      - ./uptime-kuma/data:/app/data
    ports:
      - 3001:3001
    restart: unless-stopped